## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Askino,RU,56.0901,56.5783,69.06,41,0,11.90,clear sky
1,1,Chuy,UY,-33.6971,-53.4616,59.29,93,5,5.17,clear sky
2,2,Stillwater,US,36.1156,-97.0584,82.89,75,40,1.99,scattered clouds
3,3,Lebu,CL,-37.6167,-73.6500,46.06,71,92,16.33,overcast clouds
4,4,Hasaki,JP,35.7333,140.8333,79.20,95,100,30.98,moderate rain

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Askino,RU,56.0901,56.5783,69.06,41,0,11.90,clear sky
1,1,Chuy,UY,-33.6971,-53.4616,59.29,93,5,5.17,clear sky
2,2,Stillwater,US,36.1156,-97.0584,82.89,75,40,1.99,scattered clouds
3,3,Lebu,CL,-37.6167,-73.6500,46.06,71,92,16.33,overcast clouds
4,4,Hasaki,JP,35.7333,140.8333,79.20,95,100,30.98,moderate rain
...,...,...,...,...,...,...,...,...,...,...
669,669,Lodja,CD,-3.4833,23.4333,79.43,61,72,2.73,broken clouds
670,670,San Carlos,VE,9.6612,-68.5827,71.11,94,100,3.00,overcast clouds
671,671,Kloulklubed,PW,7.0419,134.2556,79.30,81,100,8.41,moderate rain
672,672,Pietarsaari,FI,63.6500,22.6833,61.90,87,100,15.30,overcast clouds
674,674,Zyryanka,RU,65.7500,150.8500,66.58,50,0,5.37,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
drop_df = preferred_cities_df.dropna()
drop_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Askino,RU,56.0901,56.5783,69.06,41,0,11.90,clear sky
1,1,Chuy,UY,-33.6971,-53.4616,59.29,93,5,5.17,clear sky
2,2,Stillwater,US,36.1156,-97.0584,82.89,75,40,1.99,scattered clouds
3,3,Lebu,CL,-37.6167,-73.6500,46.06,71,92,16.33,overcast clouds
4,4,Hasaki,JP,35.7333,140.8333,79.20,95,100,30.98,moderate rain
...,...,...,...,...,...,...,...,...,...,...
669,669,Lodja,CD,-3.4833,23.4333,79.43,61,72,2.73,broken clouds
670,670,San Carlos,VE,9.6612,-68.5827,71.11,94,100,3.00,overcast clouds
671,671,Kloulklubed,PW,7.0419,134.2556,79.30,81,100,8.41,moderate rain
672,672,Pietarsaari,FI,63.6500,22.6833,61.90,87,100,15.30,overcast clouds
674,674,Zyryanka,RU,65.7500,150.8500,66.58,50,0,5.37,clear sky

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = drop_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Askino,RU,69.06,clear sky,56.0901,56.5783,
1,Chuy,UY,59.29,clear sky,-33.6971,-53.4616,
2,Stillwater,US,82.89,scattered clouds,36.1156,-97.0584,
3,Lebu,CL,46.06,overcast clouds,-37.6167,-73.6500,
4,Hasaki,JP,79.20,moderate rain,35.7333,140.8333,
5,Bella Union,UY,62.37,clear sky,-30.2752,-57.6007,
6,Tiksi,RU,51.15,scattered clouds,71.6872,128.8694,
7,Tasiilaq,GL,44.76,moderate rain,65.6145,-37.6368,
8,Bilma,NE,88.77,broken clouds,18.6853,12.9164,
9,Tiznit,MA,63.10,scattered clouds,29.5833,-9.5000,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
drop_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
drop_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Chuy,UY,59.29,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
2,Stillwater,US,82.89,scattered clouds,36.1156,-97.0584,Hampton Inn & Suites Stillwater
3,Lebu,CL,46.06,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
4,Hasaki,JP,79.20,moderate rain,35.7333,140.8333,Hotel Sunrise Choshi
5,Bella Union,UY,62.37,clear sky,-30.2752,-57.6007,Hotel Oriente

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
drop_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in drop_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = drop_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))